#info-1 {
  position: absolute;
  top: 200px;
  left: 300px;
  width: 50%;
  z-index: 100;
  display: block;
  color: white;
  font-size: 22px;
  justify-content: center;
}
#info-2 {
  position: absolute;
  top: 200px;
  left: 800px;
  width: 50%;
  z-index: 100;
  display: block;
  color: white;
  font-size: 22px;
}

body{
  margin: 0px;
  overflow: hidden;
}
